.principal{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}
.titulo{
    text-align: center;
}
.lista-carta{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #5E3F3F;
    border-radius: 8px;
    padding: 16px;
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 15px;
    min-height: 350px;
    background-color: #808080;
    justify-content: space-between;
}
.lista{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    padding: 20px;
}
.lista-image{
    max-width: 275px;
    max-height:250px;
    width: 100%;
    height: 100%;
}
.lista-boton{
    width: 50%;
    padding: 1%;
    background-color: #808080;
    cursor: pointer;
    border-color: #808080;
    border-radius: 4px;
    color: #FFFFFF;
    border: 2px solid #362D2D;
}
.lista-boton:hover{
    background-color: #B63D3D;
    color: white;
}
.games-history-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1px;
    margin-top: 20px; 
}

.games-history-btns button {
    padding: 20px;
    border: none;
    background-color: #362D2D;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.games-history-btns button:disabled {
    background-color: #5E3F3F;
    cursor: not-allowed;
}
.games-per-page{
    font-size: 20px;
    text-align: center;
}
.buscar{
    height: 30px;
    font-size: 15px;
    border: 1px solid #362D2D;
    color: #362D2D;
}
.boton-search{
    height: 35px;
    font-size: 15px;
    background-color: #8B4646;
    color: white;
    border-radius: 5px;
    border: 1px solid #8B4646;
    cursor: pointer;
}
.estilo-titulo{
    margin-bottom: 25px;
}
.buscador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1px;
}
@media(max-width:769px){
    .lista{
        grid-template-columns:1fr;
        display: grid;
        justify-items: center;
    }
    .lista-carta{
        width: 50%;
    }
    .buscar{
        width: 80%;
    }
}
@media(max-width:535px){
    .lista-carta{
        width: 90%;
    }
}
