<p>header</p>
<div class="primeraIMG">
<h2 class="titulo-seccion">Taller de <b>Mecánica</b> de vehículos grandes</h2>
<p class="texto-seccion">En nuestro Taller de Mecánica de Vehículos Grandes, 
    nos especializamos en brindar soluciones técnicas y de mantenimiento para camiones, 
    autobuses, maquinaria pesada y todo tipo de transporte industrial. 
    Contamos con un equipo de mecánicos altamente capacitados para ofrecer un servicio eficiente, 
    seguro y de calidad. Sabemos que tu vehículo es esencial para tu trabajo, 
    por eso trabajamos con compromiso y precisión para que siempre esté en óptimas condiciones.</p>
</div>