<div>
    <app-header></app-header>
</div>
<div class="principal">
    <div class="imagen-difuminada">
        <img src="assets/taller2.webp" class="primeraIMG">
    </div>
    <div class="conjunto-textos">
        <h2 class="titulo-seccion">{{'title-about-us' | translate}}</h2>
        <p class="texto-seccion">{{'text-about-us' | translate}}</p>
    </div>
    
    <div class="grupo-imagenes">
        <img src="assets/autobus2.webp" class="imagenes-pequenas">
        <img src="assets/coche2.webp" class="imagenes-pequenas">
        <img src="assets/camion2.webp" class="imagenes-pequenas">
    </div>
    
    <div class="conjunto-textos">
        <h2 class="titulo-seccion">{{'title-about-us2' | translate}}</h2>
        <p class="texto-seccion">{{'text-about-us2' | translate}}</p>
    </div>
    
    <div class="rapioilDiv">
        <img src="assets\cambiosDeAceite.webp" class="rapioil">
    </div>
    
    <div class="conjunto-textos">
        <h2 class="titulo-seccion">{{'title-about-us3' | translate}}</h2>
        <p class="texto-seccion">{{'text-about-us3' | translate}}</p>
    </div>

    <div class="rapioilDiv">
        <img src="assets\chequeoConPortatil.webp" class="rapioil">
    </div>

    <h2 class="titulo-seccion">{{'title-about-us4' | translate}}</h2>
    <div class="rapioilDiv">
        <img src="assets\equipoDePrueba.webp" class="equipo">
    </div>
    <div>
        <app-footer></app-footer>
    </div>
</div>