/*<!--El problema es que no hace bien el div-->*/
.primeraIMG{
    height: 25%;
    width: 100%;
    background-image: url(/assets/primera_sobrenosotros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}