<div>
    <app-header></app-header>
</div>
<div class="principal">
    <div class="imagen-difuminada">
        <img src="assets/taller2.webp" class="primeraIMG">
    </div>
    <div class="conjunto-textos">
        <h2 class="titulo-seccion">Taller de <b>Mecánica</b> de vehículos grandes</h2>
        <p class="texto-seccion">En nuestro Taller de Mecánica de Vehículos Grandes, 
            nos especializamos en brindar soluciones técnicas y de mantenimiento para camiones, 
            autobuses, maquinaria pesada y todo tipo de transporte industrial. 
            Contamos con un equipo de mecánicos altamente capacitados para ofrecer un servicio eficiente, 
            seguro y de calidad. Sabemos que tu vehículo es esencial para tu trabajo, 
            por eso trabajamos con compromiso y precisión para que siempre esté en óptimas condiciones.</p>
    </div>
    
    <div class="grupo-imagenes">
        <img src="assets/autobus2.webp" class="imagenes-pequenas">
        <img src="assets/coche2.webp" class="imagenes-pequenas">
        <img src="assets/camion2.webp" class="imagenes-pequenas">
    </div>
    
    <div class="conjunto-textos">
        <h2 class="titulo-seccion">Cambios de aceite <b>rapidos</b> y <b>eficientes</b></h2>
        <p class="texto-seccion">Sabemos que el tiempo de tu vehículo en el taller es tiempo valioso fuera de la ruta. 
            Por eso, ofrecemos un servicio especializado en cambios de aceite para vehículos grandes, enfocado en la rapidez, 
            la eficiencia y el cuidado del motor. Utilizamos lubricantes de alta calidad y seguimos estrictos protocolos para asegurar 
            el rendimiento óptimo de cada unidad. Ya sea un camión de carga, un autobús o maquinaria pesada, garantizamos un servicio preciso, 
            sin demoras y con total confianza. Mantenemos tu motor protegido para que sigas avanzando sin interrupciones.</p>
    </div>
    
    <div class="rapioilDiv">
        <img src="assets\cambiosDeAceite.webp" class="rapioil">
    </div>
    
    <div class="conjunto-textos">
        <h2 class="titulo-seccion">Avisos, preparación para la <b>ITV</b></h2>
        <p class="texto-seccion">
            Nos aseguramos de que tu vehículo esté listo para superar la ITV sin contratiempos. 
            Realizamos revisiones completas y diagnósticos preventivos, verificamos niveles, emisiones, luces, frenos y más. 
            Además, te avisamos con antelación para que no se te pase la fecha. Deja en nuestras manos la preparación y evita sorpresas.
        </p>
    </div>

    <div class="rapioilDiv">
        <img src="assets\chequeoConPortatil.webp" class="rapioil">
    </div>

    <h2 class="titulo-seccion">Nuestro equipo de trabajadores</h2>
    <div class="rapioilDiv">
        <img src="assets\equipoDePrueba.webp" class="equipo">
    </div>
    <div>
        <app-footer></app-footer>
    </div>
</div>