<div class="container">
    <h2 class="nombre">Talleres Milenium Info</h2>
    <div class="mensajes">
        <p class="mio">mensaje mio</p>
        <p class="suyo">mensaje suyo</p>
        <p class="mio">mensaje mio</p>
        <p class="suyo">mensaje suyo</p>
        <p class="mio">mensaje mio</p>
        <p class="suyo">mensaje suyo</p>
        <p class="mio">mensaje mio</p>
        <p class="suyo">mensaje suyo</p>
        <p class="mio">mensaje mio</p>
        <p class="suyo">mensaje suyo</p>
        <p class="mio">mensaje mio largo largo largo largo largo largo largo</p>
        <p class="suyo">mensaje suyo</p>
        <p class="mio">mensaje mio</p>
        <p class="suyo">mensaje suyo</p>
        <p class="mio">mensaje mio</p>
        <p class="suyo">mensaje suyo</p>
        <p class="mio">mensaje mio</p>
        <p class="suyo">mensaje suyo</p>
        <p class="mio">mensaje mio</p>
        <p class="suyo">mensaje suyo</p>
        <p class="mio">mensaje mio</p>
        <p class="suyo">mensaje suyo</p>
    </div>
    <div class="barrita">
        <input type="text" class="text-input" [(ngModel)]="texto"><i class="fa-solid fa-square-caret-right icon" (click)="enviar()"></i>
    </div>
</div>


<!--<button class="contactBTN">Contactanos</button>-->