<div>
    <app-header></app-header>
</div>
@if(user){
    <br>
    <div class="container">
        <!-- Sección Usuario -->
        <div class="profile-section">
            <div class="user-image" (click)="cambiar_imagen()">
                <img class="image" [src]="user.imagen">
            </div>
            <div class="user-data">
                <p (click)="cambiar_nombre()"><strong>{{user.name}}</strong> <span class="edit" >{{ 'change' | translate }}</span></p>
                <p (click)="cambiar_email()"><strong>{{user.email}}</strong> <span class="edit" >{{ 'change' | translate }}</span></p>
                <p (click)="cambiar_contrasena()"><strong>{{ 'password' | translate }}</strong> <span class="edit">{{ 'change' | translate }}</span></p>
                @if(decoded.role=="Admin"){
                    <button class="btn-administracion" (click)="goToRoute('admistracion')">{{ 'admin' | translate }}</button>
                }
            </div>
        </div>
    
        <!-- Sección Vehículos -->
        <div class="vehicle-folder">
            <div class="tabs">
                @if(user.coches.length > 0){
                    @for(coche of user.coches; track coche.matricula){
                        <div class="tab" (click)="seleccionar_coche(coche.matricula)">{{coche.matricula}}</div>
                    }
                }
                <div class="tab" (click)="anadir_coche()"><i class="fa-solid fa-plus"></i></div>
            </div>
            <div class="vehicle-content">
                <div class="car-info">
                    <div class="car-image">
                        @if(user.coches.length > 0){
                            @if(coche_actual.tipo == "Coche"){
                                <img class="image" src="assets/coche2.webp">
                            }@else if (coche_actual.tipo == "Camion") {
                                <img class="image" src="assets/camion2.webp">
                            }@else {
                                <img class="image" src="assets/autobus2.webp">
                            }
                            
                        }   
                    </div>
                    <div class="car-details">
                        
                        <p>{{ 'itv' | translate }} @if(user.coches.length > 0){
                            {{coche_actual.fecha_itv}}
                        }</p>
                        <p>{{ 'combustible' | translate }} @if(user.coches.length > 0){
                            {{coche_actual.combustible}}
                        }</p>
                        <p>{{ 'mileage' | translate }} @if(user.coches.length > 0){
                            {{coche_actual.kilometraje}}
                        }</p>
                        <div class="ficha-tecnica">
                            <p>{{ 'technical-sheet' | translate }} </p>@if(user.coches.length > 0){
                                <button class="btn-ficha" (click)="ver_ficha(coche_actual.imagen)"><i class="fa-regular fa-eye icon-eye"></i></button>
                            }
                        </div>
                        
                    </div>
                </div>
                <div class="services">
                    <h3>{{ 'services-received' | translate }}</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>{{ 'state' | translate }}</th>
                                <th>{{ 'name-profile' | translate }}</th>
                                <th>{{ 'description' | translate }}</th>
                                <th>{{ 'date' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(user.coches.length > 0){
                                @for(servicio of coche_actual.servicios; track servicio.nombre){
                                    <tr>
                                        <td>{{servicio.estado}}</td>
                                        <td>{{servicio.nombre}}</td>
                                        <td>{{servicio.descripcion}}</td>
                                        <td>{{servicio.fecha}}</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
}
