<p class="go-back" (click)="this.router.navigateByUrl('')"><i class="fa-sharp fa-solid fa-left-long" style="color: #ff0000;"></i></p>
@if(user){
    <div class="container">
    
        <!-- Sección Usuario -->
        <div class="profile-section">
            <div class="user-image">
                <img class="image" [src]="user.imagen">
            </div>
            <div class="user-data">
                <p (click)="cambiar_nombre()"><strong>{{user.name}}</strong> <span class="edit" >Cambiar</span></p>
                <p (click)="cambiar_email()"><strong>{{user.email}}</strong> <span class="edit" >Cambiar</span></p>
                <p (click)="cambiar_contrasena()"><strong>Contraseña</strong> <span class="edit">Cambiar</span></p>
            </div>
        </div>
    
        <!-- Sección Vehículos -->
        <div class="vehicle-folder">
            <div class="tabs">
                @for(coche of user.coches; track coche.matricula){
                    <div class="tab" (click)="seleccionar_coche()">{{coche.matricula}}</div>
                }
                <div class="tab" (click)="anadir_coche()"><i class="fa-solid fa-plus"></i></div>
            </div>
            <div class="vehicle-content">
                <div class="car-info">
                    <div class="car-image">
                        <!--<img class="image" [src]="coche_actual.imagen">-->
                        <p>{{coche_actual.tipo}}</p>
                    </div>
                    <div class="car-details">
                        <p>Fecha_itv: {{coche_actual.fecha_itv}}</p>
                        <p>Tipo de combustible: {{coche_actual.combustible}}</p>
                        <p>Kilometraje: {{coche_actual.kilometraje}}</p>
                        <div class="ficha-tecnica">
                            <p>Ver ficha tecnica </p><span><button><i class="fa-regular fa-eye"></i></button></span>
                        </div>
                        
                    </div>
                </div>
                <div class="services">
                    <h3>Servicios recibidos:</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Estado</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(servicio of coche_actual.servicios; track servicio.nombre){
                                <tr>
                                    <td>{{servicio.estado}}</td>
                                    <td>{{servicio.nombre}}</td>
                                    <td>{{servicio.descripcion}}</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
}
