.fondo-principal{
    background-image: url(/assets/fondoIS.webp);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
.contenido{
    width: 50%;
    padding: 3%;
    background-color: #4A4A4A80;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    gap: 0%;
    border-radius: 40px;
    z-index: 1;
}
.titulo{
    font-size: 35px;
    text-align: center;
    margin: 0;
    color: white;
}
.subtitulo{
    font-size: 25px;
    text-align: center;
    margin-top: 0;
    color: white;
}
.titulo-seccion{
    color: white;
    -webkit-text-stroke: black 1px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}
.inputs{
    width: 50%;
    display: flex;
    align-self: center;
    font-size: 15px;
    padding: 0.5%;
    margin-bottom: 1%;
}
.contenedor-subida-archivo {
    display: flex;
    align-items: center;
    background-color: white;
    gap: 10px;
    font-family: sans-serif;
    font-size: 14px;
}

.contenedor-subida-archivo label {
    flex: 1;
    color: grey;
}

.contenedor-subida-archivo button {
    background-color: #4a4a4a;
    color: white;
    border: none;
    padding: 3px 10px;
    font-weight: bold;
    cursor: pointer;
}

.contenedor-subida-archivo button:hover {
    background-color: #333;
}
.recuerdame-div{
    display: flex;
    flex-direction: row;
    padding-left: 25%;
    margin-bottom: 0;
}
.recuerdame-txt{
    color: white;
}
.recuerdame-CB{
    align-self: center;
    justify-self: center;
}
.ir-a-IS{
    margin-top: 0%;
    margin-bottom: 10%;
    text-decoration: underline;
    color: white;
    padding-left: 25%;
    cursor: pointer;
}
.ir-a-RE{
    margin-top: 0%;
    margin-bottom: 10%;
    text-decoration: underline;
    color: white;
    cursor: pointer;
}
.botones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15%;
}
.boton-A{
    padding: 1%;
    padding-left: 7%;
    padding-right: 7%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-color: transparent;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    background-color: white;
}
.boton-A:hover{
    background-color: rgb(202, 202, 202);
}
.boton-C{
    padding: 1%;
    padding-left: 6%;
    padding-right: 6%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: transparent;
    color: white;
    background-color: #C62828;
    font-family: sans-serif;
    font-size: 15px;

   cursor: pointer;
}
.formulario-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.boton-registro{
    padding: 1%;
    padding-left: 6%;
    padding-right: 6%;
    border-radius: 5px;
    border-color: transparent;
    color: white;
    background-color: #C62828;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
}
.botones-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15%;
}
.recuerdame-div-login{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    cursor: pointer;
}
.boton-C:hover{
    background-color: #a32323;
}
.logo-Taller{
    position: absolute;
    width: 25%;
    top: 53%;
    left: 37%;
}
.tipo-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2%;
    margin-bottom: 1%;
}
.btn-I{
    padding: 0.5%;
    padding-left: 5%;
    padding-right: 5%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-color: transparent;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    background-color: #4A4A4A;
    color: white;
}
.btn-C{
    padding: 0.5%;
    padding-left: 5%;
    padding-right: 5%;
    border-color: transparent;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    background-color: #4A4A4A;
    color: white;
}
.btn-D{
    padding: 0.5%;
    padding-left: 5%;
    padding-right: 5%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: transparent;
    color: white;
    background-color: #4A4A4A;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
}
.btn-I:hover, .btn-C:hover, .btn-D:hover{
    background-color: #303030;
}