<div class="fondo-principal">
    @if(tieneCuenta){


        <button (click)="tieneCuenta=false">ir a registro</button>
    }@else {
        <div class="contenido">
            <p class="titulo">¡Gracias por elegirnos!</p>
            <p class="subtitulo">Por favor rellene los campos sobre ti y sobre tu coche para continuar</p>
            <p class="titulo-seccion">Sobre ti</p>
            <input type="text" placeholder="Nombre y apellidos" class="inputs">
            <input type="text" placeholder="Dirección de correo electrónico" class="inputs">
            <input type="file" accept="image/png, image/jpeg, image/jpg" class="inputs">
            <input type="text" placeholder="Nueva contraseña" class="inputs">
            <input type="text" placeholder="Repetir la contraseña" class="inputs">
            <div class="recuerdame-div">
                <p class="recuerdame-txt">Recuérdame</p>
                <input type="checkbox" class="recuerdame-CB">
            </div>
            <p (click)="tieneCuenta=true" class="ir-a-IS">Ya tienes cuenta inicia sesión ahora</p>
            <div class="botones">
                <button class="boton-A" disabled>Atras</button>
                <button class="boton-C" (click)="continuarRellenando()">Continuar</button>
            </div>
        </div>
    }
</div>
