@import url('https://fonts.googleapis.com/css2?family=Hermeneus+One&display=swap');
.fondo-principal{
    background-image: url(/assets/fondoIS.webp);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
.contenido{
    width: 50%;
    padding: 3%;
    background-color: #4A4A4A80;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    gap: 0%;
    border-radius: 40px;
}
.titulo{
    font-size: 35px;
    text-align: center;
    margin: 0;
    color: white;
}
.subtitulo{
    font-size: 25px;
    text-align: center;
    margin-top: 0;
    color: white;
}
.titulo-seccion{
    color: white;
    -webkit-text-stroke: black 1px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}
.inputs{
    width: 50%;
    display: flex;
    align-self: center;
    font-size: 15px;
    padding: 0.5%;
    margin-bottom: 1%;
}
.recuerdame-div{
    display: flex;
    flex-direction: row;
    padding-left: 25%;
    margin-bottom: 0;
}
.recuerdame-txt{
    color: white;
}
.recuerdame-CB{
    align-self: center;
    justify-self: center;
}
.ir-a-IS{
    margin-top: 0%;
    margin-bottom: 10%;
    text-decoration: underline;
    color: white;
    padding-left: 25%;
}
.botones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15%;
}
.boton-A{
    padding: 1%;
    padding-left: 7%;
    padding-right: 7%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-color: transparent;
    font-family: sans-serif;
    font-size: 15px;
}
.boton-C{
    padding: 1%;
    padding-left: 6%;
    padding-right: 6%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: transparent;
    color: white;
    background-color: #C62828;
    font-family: sans-serif;
    font-size: 15px;
}