<div class="fondo-principal">
    @if(tieneCuenta){
        <div class="contenido">
            <p class="titulo">Bienvenido de vuelta a Talleres Milenium</p>
            <p class="subtitulo">El taller donde reparamos cualquier problema</p>
            <p class="titulo-seccion">Inicio sesion</p>
            <form class="formulario-login" [formGroup]="loginForm">
            <input type="text" placeholder="Correo electrónico" class="inputs" [(ngModel)]="email" formControlName="email">
            <input type="password" placeholder="Contraseña" class="inputs" [(ngModel)]="password" formControlName="password">
            <div class="recuerdame-div-login">
                <p class="recuerdame-txt">Recuérdame</p>
                <input type="checkbox" class="recuerdame-CB" (click)="rememberUser = !rememberUser">
            </div>
            <div class="botones-login">
                <p (click)="tieneCuenta=false" class="ir-a-RE">¿No tienes cuenta? create una aqui</p>
                <button class="boton-registro" (click)="loginUser()">Iniciar Sesion</button>
            </div>
            </form>
        </div>
        <img src="/assets/logo-Taller.webp" class="logo-Taller">
    }@else {
        
        <div class="contenido">
            <p class="titulo">¡Gracias por elegirnos!</p>
            <p class="subtitulo">Por favor rellene los campos sobre usted</p>
            <form [formGroup]="signupForm1" class="formulario-login">
                <input type="text" placeholder="Nombre y apellidos" class="inputs" id="nomYape" [(ngModel)]="nYApellido" formControlName="nYApellido">
                <input type="text" placeholder="Dirección de correo electrónico" class="inputs" id="correo" [(ngModel)]="correo" formControlName="correo">
                <div class="contenedor-subida-archivo inputs">
                    @if(imagenPerfil==null){
                        <label>Imagen de perfil</label>
                    }@else if(imagenPerfil!=null){
                        <label>{{imagenPerfil_nombre}}</label>
                    }
                    <input type="file" id="imagenPerfil" accept="image/png, image/jpeg, image/jpg" (change)="alSeleccionarArchivoPerfil($event)" hidden>
                    <button type="button" (click)="abrirSelectorArchivoPerfil()">Seleccionar una imagen</button>
                </div>
                <input type="password" placeholder="Nueva contraseña" class="inputs" id="contrasena" [(ngModel)]="contrasena" formControlName="contrasena">
                <input type="password" placeholder="Repetir la contraseña" class="inputs" id="contrasena2" [(ngModel)]="contrasena2" formControlName="contrasena2">
            </form>
            <div class="recuerdame-div">
                <p class="recuerdame-txt">Recuérdame</p>
                <input type="checkbox" class="recuerdame-CB" (click)="rememberUser = !rememberUser">
            </div>
            <p (click)="tieneCuenta=true" class="ir-a-IS">Ya tienes cuenta inicia sesión ahora</p>
            <button class="boton-C" (click)="registrarse()">Registrarse</button>
        </div>
        <img src="/assets/logo-Taller.webp" class="logo-Taller">
        
    }
</div>
