<div class="principal">
    <div class="logo">
        <img class="logo-imagen" src="assets/imagen-logo.webp" (click)="goToRoute('/')" alt="Talleres Milenium">
        <h3 class="logo-opciones" (click)="goToRoute('tienda/servicios')">{{'service' | translate}}</h3>
        <h3 class="logo-opciones" (click)="goToRoute('sobre-nosotros')">Sobre nosotros</h3>
        <h3 class="logo-opciones" (click)="goToRoute('tienda/productos')">{{'product' | translate}}</h3>
        <h3 class="logo-opciones" (click)="changeoption()">{{'language' | translate}}</h3>
        <h3 class="logo-opciones" (click)="goToRoute('carrito')"><i class="fa-solid fa-cart-shopping"></i></h3>
        <h3 class="logo-opciones" (click)="cerrarSesion()">Cerrar Sesión</h3>
    </div>
    @if(decoded!=null){
        <div class="acceder" (click)="goToRoute('perfil')">
            <p>{{'bienvenido' | translate}} {{decoded.name}}</p>
        </div>
    }@else {
        <div class="acceder" (click)="goToRoute('inicio-sesion')">
            <i id="person-icon" class="fa-solid fa-user"></i>
        </div>
    }
</div>
