.principal{
    background-color: #808080;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}
.logo-opciones{
    color: white;
    cursor: pointer;
}
.acceder{
    height: 100%;
    width: 5%;
    background-color: rgb(175, 170, 170);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.logo-imagen{
    height: 100%;
    width: 100%;
    max-width: 75px;
    max-height: 75px;
    cursor: pointer;
}
#person-icon{
    color: white;
    margin: 0;
    padding: 0;
    font-size: 30px;
}