.principal {
    background-color: #808080;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.logo {
    display: flex;
    flex-direction: row;
    width: 65%;
    gap: 2%;
    align-items: center;
    color: white;
}

.logo-opciones {
    color: white;
    cursor: pointer;
}

.acceder {
    height: 100%;
    background-color: #B63D3D;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 80px;
    color: white;
}

.acceder:hover{
    background-color: #E02525;
}

.logo-imagen {
    height: 100%;
    width: 100%;
    max-width: 75px;
    max-height: 75px;
    cursor: pointer;
}

.person-icon {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bienvenido {
    font-size: 14px;
    text-align: center;
    color: white;
}

.banderas {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}

.bandera {
    width: 32px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.bandera:hover {
    transform: scale(1.1);
}

.menu {
    display: none;
    color: white;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    background-color: #808080;
    position: absolute;
    top: 75px;
    width: 100%;
    z-index: 1000;
    color: white;
}

.dropdown-item {
    color: white;
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
}

.banderas-dropdown {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.bandera-dropdown {
    width: 32px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.bandera-dropdown:hover {
    transform: scale(1.1);
}

@media(max-width:756px){
    .dropdown-menu {
        display: flex;
    }
    .logo-opciones {
        display: none;
    }
    .banderas {
        display: none;
    }
    .bandera {
        display: none;
    }
    .person-icon {
        display: none;
    }
    .menu {
        display: flex;
        color: white;
    }
}
