<div class="principal">
    <div class="logo">
        <img class="logo-imagen" src="assets/imagen-logo.webp" (click)="goToRoute('')" alt="Talleres Milenium">
        <h3 class="logo-opciones">Servicios</h3>
        <h3 class="logo-opciones" (click)="goToRoute('sobre-nosotros')">Sobre nosotros</h3>
        <h3 class="logo-opciones">Productos</h3>
        <h3 class="logo-opciones">Idioma</h3>
    </div>
    <div class="acceder" (click)="goToRoute('inicio-sesion')">
        <i id="person-icon" class="fa-solid fa-user"></i>
    </div>
</div>
