<div class="principal">
<div>
    <app-header></app-header>
</div>
@if(this.tipo=="servicio" && servicio!=null){
    <div class="principal-datos">
        <div class="principal-datos-imagen">
            <img class="imagen" [src]="servicio.imagen" alt="">
        </div>
        <div class="principal-datos-caracteristicas">
            <h1>{{servicio.nombre}}</h1>
            <h2>Valoracion:{{media}}</h2>
            <p class="principal-datos-caracteristicas-descripcion"><b
                    class="principal-datos-caracteristicas-descripcion-titulo">Descripcion:</b>{{servicio.descripcion}}</p>
            <button class="principal-datos-caracteristicas-descripcion-boton" (click)="reservar()">Reservar</button>
        </div>
    </div>
}
@if(this.tipo=="producto" && producto!=null){
    <div class="principal-datos">
        <div class="principal-datos-imagen">
            <img class="imagen" [src]="producto?.imagen" alt="">
        </div>
        <div class="principal-datos-caracteristicas">
            <h1>{{producto?.nombre}}</h1>
            <h2>Valoracion:{{media}}</h2>
            <p class="principal-datos-caracteristicas-descripcion"><b
                    class="principal-datos-caracteristicas-descripcion-titulo">Descripcion:</b>{{producto?.descripcion}}</p>
            <h3>{{producto.disponible}}</h3>
        </div>
    </div>
}
    <div class="comentarios">
        @if(decoded!=null){
            <h2>Comentarios</h2>
        <div class="comentarios-casilla">
            <form [formGroup]="subidareview" class="comentario-casilla-texto">
                    <textarea class="comentario-casilla-texto-escrito" rows="5" cols="50"
                        placeholder="Danos tu opinion" formControlName="texto"></textarea>
                        <div class="comentario-casilla-texto-embebido">
                    <select name="puntuacion" id="categoria" class="comentario-casilla-texto-puntuacion" formControlName="puntuacion">
                        <option value="">puntuacion</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                </div>
            </form>
            <button class="boton-enviar" (click)="postreview()">Enviar comentario</button>
        </div>
        }
        
    </div>
    <div class="">

    </div>
<div class="footer">
    <app-footer></app-footer>
</div>
</div>