<div>
    <app-header></app-header>
</div>
<div class="principal">
<div class="principal-datos">
<div class="principal-datos-imagen">
    <img class="imagen" src="assets/paisaje2.webp" alt="">
</div>
<div class="principal-datos-caracteristicas">
<h1>Titulo producto</h1>
<h2>Valoracion:3.5</h2>
<p class="principal-datos-caracteristicas-descripcion"><b class="principal-datos-caracteristicas-descripcion-titulo">Descripcion:</b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores a reiciendis expedita fuga eaque aut veniam molestias debitis. Sunt quam consectetur dolores magnam hic tempora, iusto nisi labore numquam vitae.
Animi, atque? Facilis eaque nobis laboriosam sed blanditiis ea autem libero incidunt, aliquid voluptatum numquam tempore? Voluptas voluptates molestias facere ad quod, mollitia quaerat perspiciatis ipsum dolorem libero. Numquam, dolore.
Optio, vero velit ullam doloremque pariatur blanditiis quam ab, laudantium itaque beatae officia maxime? Sed totam nostrum ipsa doloribus dolor, obcaecati, hic dolores omnis ipsum voluptas excepturi quasi. Nobis, est.
Cumque laboriosam rerum consequatur facere delectus modi ducimus amet corporis quis, velit harum minima expedita fuga maxime cum veniam voluptas quo sequi perferendis exercitationem! Unde perspiciatis vitae omnis nisi eveniet?</p>
@if(this.tipo=="producto"){
    <h3>disponible</h3>
}@else if (this.tipo=="servicio") {
    <button class="principal-datos-caracteristicas-descripcion-boton">Reservar</button>
}
</div>
</div>
<div class="comentarios">
    
</div>
</div>
<div>
    <app-footer></app-footer>
</div>