.principal{
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}
@media(max-width:545px){
    .principal{
        flex-direction: column;
    }
}