<div>
    <app-header></app-header>
</div>
<div class="principal">
    <div class="principal-cabecera">
        <h1>Expertos en diagnosis, reparación y una buena pre-ITV</h1>
    </div>
    <div class="principal-fotos">
        <img class="imagen-taller" src="assets/paisaje1.webp" alt="">
        <img class="imagen-taller" src="assets/paisaje2.webp" alt="">
    </div>
    <div class="principal-horario">
        <h1>Horarios</h1>
        <table>
            <tr>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miércoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
                <th>Sabado</th>
                <th>Domingo</th>
            </tr>
            <tr>
                <td>9h-19h</td>
                <td>9h-19h</td>
                <td>9h-19h</td>
                <td>9h-19h</td>
                <td>9h-19h</td>
                <td>cerrado</td>
                <td>cerrado</td>
            </tr>
        </table>
    </div>
    <div class="principal-marcas">
        <h1>Marcas con las que trabajamos</h1>
        <div class="principal-marcas-imagenes">
            <img class="imagenes-marcas" src="assets/knorr.webp" alt="">
            <img class="imagenes-marcas" src="assets/jaltest.webp" alt="">
            <img class="imagenes-marcas" src="assets/toptruck.webp" alt="">
        </div>
        <div class="principal-marcas-imagenes-dos">
            <img class="imagenes-marcas" src="assets/rapidoil.webp" alt="">
        </div>
    </div>
    <div class="principal-mapa">

    </div>
</div>